POSTGRES_USER=retail_admin
POSTGRES_PASSWORD=Retail123!
POSTGRES_DB=retail_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# If connecting from VMware VM to WSL2, set POSTGRES_HOST to the WSL2 IP
# Find it with: wsl hostname -I
# Example: POSTGRES_HOST=172.23.150.123

CSV_INPUT_DIR=./data/raw
